
#header-principal {
    background-color: #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#instagram {
    color: rgb(224, 35, 66);
}

#whatsapp {
    color: rgb(16, 139, 0);
}

#facebook {
    color: rgb(0, 56, 139);
}

.icon-container i{
    margin-left: 25px;
    color: #000;
    font-weight: bold;
    font-size: 22px;
}

@media(max-width: 768px) {
    .img-3{
        height: 300px;
    }
}
